.pokedex-wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1rem;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

@media screen and (min-width: 360px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.247);
    cursor: pointer;
}

.pokemon::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../images/game.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.2;
    pointer-events: none;
    background-size: 50%;
}

.pokemon .number {
    color: #000000;
    font-size: .625rem;
    text-align: right;
    opacity: 0.3;
}

.pokemon .name {
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 50%;
    height: 70px;
    align-self: flex-end;
    z-index: 2;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pages {
    display: flex;
    gap: .5rem;
    list-style: none;
    padding: 0;
}

#pages .page {
    width: 8px;
    height: 8px;
    background-color: #0000002c;
    border-radius: 50%;
    cursor: pointer;
}

#pages .page.active {
    background-color: #4d00008f;
}

.pokedex-wrapper button {
    background-color: #0000002c;
    margin: .5rem;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.card {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, 0.11);
    margin-top: .5rem;
}

#pokemonCardContainer {
   width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.card .cardTopo{
    border-radius: 2rem 2rem 0 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 30rem;
}

.card .cardTopo::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../images/game.png');
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 50%;
    opacity: 0.2;
    pointer-events: none;
    background-size: 300px;
    z-index: 0;
}

.card .cardTopo > * {
    position: relative;
    z-index: 1;
}

.card .cardTopo .cardName {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    align-self: flex-start;
}

.card .cardTopo .cardNumber {
    color: #000000;
    font-size: 1rem;
    text-align: right;
    opacity: 0.3;
    align-self: flex-end;
    margin: 0;
}

.card .cardTopo .cardDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
}

.card .cardTopo .cardDetail .cardTypes {
    padding: 0;
    margin: 0;
    list-style: none;
    align-self: flex-end;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.card .cardTopo .cardDetail .cardTypes .cardType {
    color: #fff;
    padding: .25rem .5rem;
    font-size: 1rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.card .cardTopo img {
    z-index: 2;
    height: 300px;
    width: auto;  
    object-fit: contain; 
    margin-top: 1rem;
}


.infosContent {
    background-color: #fff;
    position: relative;
    border-radius: 2rem;
    margin-top: -6rem;      
}

.infosContent .infos{
    padding: 1rem 2rem 2rem 2rem;
}

.infosContent .infos .basic{
    font-size: .8rem;
    margin-bottom: 1rem;
}

.card tr td:first-child{
    color: #707070;
}

.card td{
    font-size: .8rem;
    padding: 0 0 0.5rem 2rem;
    text-transform: capitalize;
}

.infos span{
    font-weight: 700;
    padding: 2rem;
}

.breeding {
    margin-top: 1rem;
    font-size: .8rem;
}

.infosContent .infos .breeding tr td:first-child{
    color: #707070;
}

.infosContent .infos .breeding td{
    padding: 0 0 0.5rem 2rem;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 1rem;
    width: 100%;
}

.menu button {
    border: none;
    background-color: #fff;
    padding-bottom: 1rem;
    cursor: pointer;
    font-weight: 500;
    color: #555;
}

.menu button:hover {
    border-bottom: solid 2px currentColor;
}

.menu button.active {
    border-bottom: 2px solid currentColor;
    font-weight: 600;
}



.card.normal .menu button.active { color: #a6a877; }
.card.grass .menu button.active { color: #77c850; }
.card.fire .menu button.active { color: #ee7f30; }
.card.water .menu button.active { color: #678fee; }
.card.electric .menu button.active { color: #f7cf2e; }
.card.ice .menu button.active { color: #98d5d7; }
.card.ground .menu button.active { color: #dfbf69; }
.card.flying .menu button.active { color: #a98ff0; }
.card.poison .menu button.active { color: #a040a0; }
.card.fighting .menu button.active { color: #bf3029; }
.card.psychic .menu button.active { color: #f65687; }
.card.dark .menu button.active { color: #725847; }
.card.rock .menu button.active { color: #b8a137; }
.card.bug .menu button.active { color: #a8b720; }
.card.ghost .menu button.active { color: #6e5896; }
.card.steel .menu button.active { color: #b9b7cf; }
.card.dragon .menu button.active { color: #6f38f6; }
.card.fairy .menu button.active { color: #f9aec7; }


.basicStatsPage {
    padding: 1rem 2rem 2rem 2rem;
}

.basicStatsPage table {
    width: 100%;
    border-collapse: collapse;
}

.basicStatsPage td {
    padding: 0.5rem 0;
    vertical-align: middle;
    padding-left: 2rem;
}

/* deixa a coluna da barra crescer */
.basicStatsPage td:nth-child(3) {
    width: 100%;
    padding-left: 2rem;
}

.movesPage {
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.movesPage ol{
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    list-style: none;
}

#movesList {
    width: 15rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.22);
    border-radius: 2rem;
}

#movesList li {
    border-radius: 8px;
    margin: 0;
    padding: 1rem;
}

.card #movesList li:hover {
    background: currentColor;
    opacity: 0.2;
}

.moveInfo {
    width: 70rem;
    background: #fff;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.22);
}

.hidden {
    display: none;
}

/* Container da barra */
.stat-bar {
    width: 95%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

/* Parte preenchida */
.stat-fill {
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease;
}

/* Quando menor que 50 */
.stat-fill.low {
    background-color: #e74c3c; /* vermelho */
}

/* Quando maior ou igual a 50 */
.stat-fill.high {
    background-color: #2ecc71; /* verde */
}

.moveHint {
    margin: 0;
    font-weight: 600;
    color: #666;
}

.moveTitle {
    margin: 0 0 1rem 0;
    text-transform: capitalize;
}

.moveTable {
    width: 100%;
    border-collapse: collapse;
}

.moveTable th, .moveTable td {
    padding: .5rem;
    font-size: .85rem;
    border-bottom: 1px solid rgba(0,0,0,.08);
    text-transform: capitalize;
}